@model Emma.Blog.Data.Models.User

@{
    ViewData["Title"] = "Login";
}

<h2>用户登录</h2>

<h4>请输入账号密码进行登录</h4>
<hr />
<div class="row" id="login">
    <div id="msg" class="text-danger"></div>
    <div class="col-md-4">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" v-model="username" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" v-model="password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="button" value="登录" class="btn btn-default" v-on:click="login(username,password)" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="List">Back to List</a>
</div>

@section scripts{

    <script src="~/js/common.js"></script>
    <script>
        var clientId = getCookie('clientid');
        if (!clientId) {
            $.ajax({
                url: '/api/auth/clientid',
                type: 'get',
                success: function (res) {
                    if (res.status === 0) {
                        clientId = res.data;
                    }
                }, error: function (res) {
                    console.log(res);
                }
            });

        }
        var vm = new Vue({
            el: '#login',
            data: {
                username: '',
                password: ''
            },
            methods: {
                login: function (username, password) {
                    $.ajax({
                        url: '/api/auth/token',
                        type: 'post',
                        data: { username, password, clientId },
                        success: function (res) {
                            if (res.status === 1) {
                                $('#msg').text(res.message);
                            } else {
                                window.location.href = '/';
                            }
                        }, error: function(res) {
                            console.log(res);
                        }
                    });
                }
            }
        });
        console.log(vm);

        function getCookie(name) {
            var arr, reg = new RegExp("(^| )" + name + "=([^;]*)(;|$)");
            if (arr = document.cookie.match(reg))
                return unescape(arr[2]);
            else
                return null;
        }
    </script>
}
