@model Emma.Blog.Data.Models.User

@{
    ViewData["Title"] = "Login";
}

<h2>用户登录</h2>

<h4>请输入账号密码进行登录</h4>
<hr />
<div class="row" id="login">
    <div id="msg" class="text-danger"></div>
    <div class="col-md-4">
        <form>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" v-model="username" id="username"/>
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" v-model="password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <span v-text="username"></span>
            @*<div class="form-group" id="vcodeform">
            <label class="control-label"></label>
            <input class="form-control" v-model="code" />
            <span id="vcodespan">验证码：<span id="vcode"></span></span><button type="button" v-on:click="getCode()">获取验证码</button>
        </div>*@
            <button id="update" type="button">修改用户名</button>

            <div class="form-group">
                <input type="button" value="登录" class="btn btn-default" v-on:click="login(username,password)" />
            </div>
        </form>
    </div>
</div>


<div>
    <a asp-action="List">Back to List</a>
</div>

@section scripts{

    <script src="~/js/common.js"></script>
    <script src="~/lib/vue/vue.min.js"></script>
    <script>
     


        //var clientId = getCookie('clientId');
        //var isRequireCode = false;
        //if (clientId) {
        //    $.ajax({
        //        url: '/api/auth/requirecode',
        //        type: 'get',
        //        success: function (res) {
        //            if (res.status === 0) {
        //                isRequireCode = res.data.isRequired;
        //                if (isRequireCode) {
        //                    $('#vcodeform').show();
        //                }
        //                $('#vcode').text(res.data.code);
        //            }
        //        }, error: function (res) {
        //            console.log(res);
        //        }
        //    });

        //}

        //if (!clientId) {

        //    var promise = new Promise(function (resolve, reject) {
        //        $.ajax({
        //            url: '/api/auth/clientid',
        //            type: 'get',
        //            success: function (res) {
        //                if (res.status === 0) {
        //                    clientId = res.data;
        //                    resolve(clientId);
        //                }
        //            }, error: function (res) {
        //                console.log(res);
        //            }
        //        });
        //    }).then(function(clientId) {
        //        $.ajax({
        //            url: '/api/auth/requirecode?clientId=' + clientId,
        //            type: 'get',
        //            success: function (res) {
        //                if (res.status === 0) {
        //                    isRequireCode = res.data.isRequired;
        //                    if (isRequireCode) {
        //                        $('#vcodeform').show();
        //                    }
        //                    $('#vcode').text(res.data.code);
        //                }
        //            }, error: function (res) {
        //                console.log(res);
        //            }
        //        });

        //    });


        //}


        var vm = new Vue({
            el: '#login',
            data: {
                username: '',
                password: '',
                //code: ''
            },
            methods: {
                login: function (username, password) {
                    var data = { username, password }
                    //if (isRequireCode) {
                    //    data.code = code;
                    //}

                    $.ajax({
                        url: '/api/auth/token',
                        type: 'post',
                        data: data,
                        success: function (res) {
                            if (res.status === 1) {
                                $('#msg').text(res.message);

                            } else {
                                setCookie('token', res.token, 7200);
                                window.location.href = '/';
                            }
                        }, error: function (res) {
                            console.log(res);
                        }
                    });
                },
                //getCode() {
                //    $.ajax({
                //        url: '/api/auth/getcode',
                //        type: 'get',
                //        success: function (res) {
                //            if (res.status === 0) {
                //                $('#vcode').text(res.data.code);

                //            }
                //        }, error: function (res) {
                //            console.log(res);
                //        }
                //    });
                //}
            }
        });
        console.log(vm);


    </script>
}
