
@{
    ViewData["Title"] = "Home Page";
}

<h1>主页</h1>
@if (!Context.User.Identity.IsAuthenticated)
{
    <span>请登录,<a asp-action="Login" asp-controller="User">登录</a></span>
}
else
{
    <span>欢迎您,@Context.User.Identity.Name，<a asp-action="logout" asp-controller="User">注销</a></span>



} <span>欢迎您,@ViewBag.ConId,@ViewBag.Ip</span>
<div>
    <a href="/user/create">添加用户</a>
</div>
<p>
    <button id="btn">访问api获取用户信息 </button>
</p>
<p>
    <button id="btn1">提交信息并返回 </button>
    昵称：<input type="text" id="nickname" />
    年龄：<input type="text" id="age" />
</p>
<div id="info">
    info....
</div>
<div>
    <div id="uploader" class="wu-example">
        <!--用来存放文件信息-->
        <div id="thelist" class="uploader-list"></div>
        <div class="btns">
            <div id="picker">选择文件</div>
            <button id="ctlBtn" class="btn btn-default">开始上传</button>
        </div>
    </div>
 
</div>
@section styles{ 
<link href="~/lib/webuploader/webuploader.css" rel="stylesheet" />
}
@section scripts{
    <script src="~/js/common.js"></script>
    <script src="~/lib/webuploader/webuploader.js"></script>
    <script>

        var $list = $('#thelist');
        var uploader = WebUploader.create({
            auto:true,
            fileVal:'files',
            withCredentials:true,
            // 文件接收服务端。
            server: api_domain+'api/upload/img',

            // 选择文件的按钮。可选。
            // 内部根据当前运行是创建，可能是input元素，也可能是flash.
            pick: '#picker',

            // 不压缩image, 默认如果是jpeg，文件上传前会压缩一把再上传！
            resize: false
        });

        uploader.on( 'fileQueued', function( file ) {
            $list.append( '<div id="' + file.id + '" class="item">' +
                '<h4 class="info">' + file.name + '</h4>' +
                '<p class="state">等待上传...</p>' +
                '</div>' );
        });

        uploader.on( 'uploadProgress', function( file, percentage ) {
            var $li = $( '#'+file.id ),
                $percent = $li.find('.progress .progress-bar');

            // 避免重复创建
            if ( !$percent.length ) {
                $percent = $('<div class="progress progress-striped active">' +
                    '<div class="progress-bar" role="progressbar" style="width: 0%">' +
                    '</div>' +
                    '</div>').appendTo( $li ).find('.progress-bar');
            }

            $li.find('p.state').text('上传中');

            $percent.css( 'width', percentage * 100 + '%' );
        });

        uploader.on( 'uploadSuccess', function( file ) {
            $( '#'+file.id ).find('p.state').text('已上传');
        });

        uploader.on( 'uploadError', function( file ) {
            $( '#'+file.id ).find('p.state').text('上传出错');
        });

        uploader.on( 'uploadComplete', function( file ) {
            $( '#'+file.id ).find('.progress').fadeOut();
        });
    </script>
    <script>

        $('#btn').click(function () {
            $.ajax({
                url: "/api/values",
                type: 'post',
                data: {
                    username: '1123131313',
                    password: 'mima'
                },
                success: function (res) {
                    $('#info').html(JSON.stringify(res));

                },
                error: function (res) {
                    $('#info').html(JSON.stringify(res));
                }
            });

        });


        $('#btn1').click(function () {
            $.ajax({
                url: "/api/values/getdata",
                type: 'post',
                data: {
                    user: {
                        nickname: 'zhangsan',
                        age: 2
                    },
                    book: {
                        name: ".net core 跨平台",
                        price: 25.85
                    },
                    imgUrls: ["http://www.baidu.com/1.jpg", "http://www.baidu.com/2.jpg"],
                    name: 'lisi'
                },
                success: function (res) {
                    $('#info').html(JSON.stringify(res));

                },
                error: function (res) {
                    $('#info').html(JSON.stringify(res));
                }
            });

        });



    </script>
}